body {
    background: #FDFDFD;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    color: #232323;
}

a {
    text-decoration: none;
}

.orange_letters {
    color: #FF5A00;
}

#content {
    position: relative;
    width: 62%;
}

#right_image {
    position: relative;
    width: 38%;
    background-image: url(../img/student_login.jpg);
    background-position: center;
    -webkit-background-size: 110% 110%;
    background-size: 110%;
    background-repeat: no-repeat;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    margin: 6% auto 6% 6%;
}

#logo a img{
    height: 22px;
}

#reg_form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

form {

    /*width: 512px;*/
    width: 50%;
    /*height: 478px;*/
    height: 45%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    margin: 10%;
}